main {
    padding-top: 4%;
        padding-bottom: 4%;
}

section p {
        width: 70%;
    margin: 0 auto;
    font-size: 20px;
        margin-bottom: 20px;
}


/*
.first p {
  margin-bottom:50px;
}

.second p {
      margin-bottom: 67px;
}

.third p {
      margin-bottom: 15px;
}

.fourth p {
    margin-bottom: 39px;
}

*/
