*{
    margin: 0;
    padding: 0;
}
body{
    background: url("../images/wood_floor_by_gnrbishop.jpg") repeat repeat;
}
.navbar{
    background-color: rgba(255,255,255,0.6);
    border-bottom: 2px solid #5e360c;
}
.navbar ul>li>a{
    color: #5e360c;

}
.dropdown-menu{
    background-color: rgba(255,255,255,0.6);
    border: 1px solid #5e360c;
}
.dropdown-menu .divider{
    background-color: #5e360c;
}
.navbar-default .navbar-nav>li>a,.navbar-default .navbar-brand{
    color: #5e360c;
}
.navbar-default .navbar-nav>li>a:active,.navbar-default .navbar-brand:active{
    color: #5e360c;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    color: #5e360c;
    background-color: rgba(255,255,255,0.8);
}
.footer{
    border-bottom:none;
    border-top: 2px solid #5e360c;
    color: #5e360c;
    text-align: center;
    line-height: 40px;
}
