*{
    margin: 0;
    padding: 0;
}
main{
background: linear-gradient( rgba(255,255,255,.4), rgba(255,255,255,.4) ),url("../images/wood_floor_by_gnrbishop.jpg") repeat repeat;
   
}
.header {
     display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-image: linear-gradient( rgba(46,67,102,.5), rgba(46,67,102,.2) ),url(../images/apple.png);
    background-size: cover;
    opacity: 0.75;
}

.header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 50px;
    text-shadow: 2px 1px 3px rgba(255, 255, 255, 1);
}


.text {
    margin: 20px auto 0 auto;
    width: 70%;
    padding-bottom: 10px;
    
}

.text h1{
    text-align: center;
    padding-bottom: 15px;
}
.text p {
    font-size: 20px;
    opacity: 1;
}

.img-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-image: linear-gradient( rgba(255,255,255,.4), rgba(255,255,255,.4) ),url(../images/salads.png);
    background-size: cover;
    opacity: 0.75;
}

.img-holder h1{
    color: black;
    font-size: 40px;
    text-shadow: 3px 3px 3px dimgrey;
}


.article-food{
    margin-top: 20px;
}

.food-text h1{
    text-align: center
}

.img-responsive {
    width: 200px;
    height: 200px;
}